DATABASE_URL=

JWT_SECRET=

RESEND_API_KEY=

#BaseUrl
BASE_URL=''

SUPABASE_URL=
SUPABASE_SECRET_KEY=
SUPABASE_PUBLISHABLE_KEY=

BUCKET_NAME=images

NEXT_PUBLIC_IMG_MAX_SIZE=5242880

SIMULATE_WAIT_IN_MD=0

VERBOSE_LOG=0

ENVIRONMENT=development

APP_URL=http://localhost:3000