# Banco
DATABASE_URL=postgresql://USER:PASSWORD@HOST:PORT/DATABASE

# JWT
JWT_SECRET=

# BaseUrl
BASE_URL=http://localhost:3000/

# Resend
RESEND_API_KEY=

# Valkey
VALKEY_URL=

# Supabase
SUPABASE_URL=
SUPABASE_SECRET_KEY=
SUPABASE_PUBLISHABLE_KEY=
BUCKET_NAME=images

# Ambiente
NODE_ENV=development
ENVIRONMENT=DEV

NEXT_PUBLIC_IMG_MAX_SIZE=5242880

SIMULATE_WAIT_IN_MD=0

VERBOSE_LOG=0